#submenu{
  text-align: center;
  background-color: black;
  color: white;  
}
h1{
  color: red;
}

body{
  background-color: rgb(58, 57, 57);
}

h2{
  text-align: center;
  background-color: red;
  color: antiquewhite;
}